<div class="neos-content neos-container-fluid">
	<h2>An error occured</h2>

	<p>Please have a look at the error message on how to resolve the problem.</p>

	<f:flashMessages as="flashMessages">
		<f:if condition="{flashMessages -> f:count()} > 0">
			<ul id="neos-notifications-inline">
				<f:for each="{flashMessages}" as="flashMessage">
					<li data-title="{flashMessage.title}" data-type="{flashMessage.severity -> f:format.case(mode: 'lower')}">{flashMessage}</li>
				</f:for>
			</ul>
		</f:if>
	</f:flashMessages>

	<f:if condition="{authenticated}">
		<f:render partial="AccountDisconnect" />
	</f:if>
</div>